@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  background: #edeeed;
  font-family: "Poppins", sans-serif;
}

footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #080808;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

footer a:hover {
  color: #ddd;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
    justify-content: space-between;
}

section h2 {
    font-size: 3.5rem;
    margin: 0;
    color: #edeeed;
    text-align: center;
    padding-top: 1em;
    
}
section .par {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    color: #edeeed;
    
}

.box{
    background-color: #302e26;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 70%;
    margin: 7rem auto 0 auto;
    text-align: left;
    align-items: center;
    flex-direction:row;
    border-radius: 20px;
    
}

.box img{
    width: 35%;
    height: 150%;
    border-radius: 10%;
    object-fit:cover;
    margin-bottom: 7px;
    margin-left: 24px;
}

.box h1, h3{
    margin: 0;
    color: #edeeed;
    margin-left: 52px;

}
.box p{
    color:#edeeed;
    margin-left: 52px;

}
.chap-btn{
    width: 115px; 
    height: 35px; 
    margin-right: 20px; 
    margin-bottom: 10px;
    color: #edeeed;
    background-color: rgb(30, 92, 157);
    border-radius: 5px;
    cursor:pointer;
}

.chap-btn:hover {
    color: rgb(255, 255, 255);
    background: #111e3c;
    border: 2px solid #111e3c;
}

.par-box{
    border: 2px solid #444343c6;
    width: 85%;
    height: auto;
    margin-bottom: 100px;
    padding: 5em;

}
.par-box p{
    color: #edeeed;
    text-align: justify;
    text-indent: 90px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 350;
}

@media only screen and(max-width: 1024px) {
    .par-box{
        border: 2px solid #302e26;
        width: 85%;
        height: auto;
        margin-bottom: 100px;
        padding: 0em;
    }
}

